/* Global Reset start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
textarea,
button,
li,
ul,
ol {
  /* Lists */
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
li {
  list-style-type: none;
}

/* Body Styling */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: white;
  overflow-x: hidden;
}

/* Anchor Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

/* List Styling */
ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* Images and Media */
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  appearance: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.border-line {
  border-right: 1px solid #eeeeee;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #7db958;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 5px !important;
}
.primaryText {
  color: #7db958;
}
.primaryBg {
  background-color: #7db958;
}
.primaryBorder {
  border: 2px solid #7db958;
}

.slick-next:before,
.slick-prev:before {
  display: none !important;
}
.slick-dots {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}
.active-tab {
  background-color: #4e6c3c;
  color: white;
  font-weight: bold;
}
@media (min-width: 768px) {
  .advertisement {
    height: 157px;
  }
}

/* Active Tab Highlight */
