/* General Styles for Menu Items */
.menuItems-large li {
  width: 155px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 8px;
  background-color: #f3f9fb;
  border-radius: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.menuItems-large li.clicked {
  background-color: #7db958;
  color: white;
}

/* Categories and Menus Styles */
.menusItem,
.categories-items {
  display: block;
  margin: 8px 0;
}

.categories-items li,
.menus-items li {
  margin: 1px 0;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  font-size: 1rem;
  text-align: left;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.categories-items li:hover,
.menus-items li:hover {
  background-color: #7db958;
  color: white;
}

/* Active Tab Styles */
.active-tab {
  background-color: #7db958 !important;
  color: white !important;
  font-weight: bold;
}

/* Badge Icon */
.badgeIcon {
  position: absolute;
  border-radius: 50%;
  position: absolute;
  border-radius: 50%;
  top: 13px;
  left: 65%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #7db958;
}

.categoriesMenuContent {
  width: 40% !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .categories-items li,
  .menus-items li {
    text-align: center;
  }
  .cart-modal-content {
    width: 50%;
  }
  .badgeIcon {
    top: 13px;
    left: 71%;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
  .categoriesMenuContent {
    width: 75% !important;
    padding: 15px;
  }
}

@media (max-width: 560px) {
  .categories-items li,
  .menus-items li {
    font-size: 0.9rem;
    text-align: center;
  }
  .cart-modal-content {
    width: 90%;
  }
  .badgeIcon {
    background-color: red !important;
  }
  .categoriesMenuContent {
    width: 85% !important;
    padding: 10px;
  }
}
