/* General Styles for Menu Items */
.menuItems-large li {
  width: 155px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 8px;
  background-color: #f3f9fb;
  border-radius: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.menuItems-large li.clicked {
  background-color: #7db958;
  color: white;
}

/* Categories and Menus Styles */
.menusItem,
.categories-items {
  display: block;
  margin: 8px 0;
}

.categories-items li,
.menus-items li {
  margin: 1px 0;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  font-size: 1rem;
  text-align: left;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.categories-items li:hover,
.menus-items li:hover {
  background-color: #7db958;
  color: white;
}

/* Active Tab Styles */
.active-tab {
  background-color: #7db958 !important;
  color: white !important;
  font-weight: bold;
}

/* Menu Modal */
.cart-modal,
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  z-index: 1050;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
  -ms-transition: opacity 0.3s ease, visibility 0.3s ease;
  -o-transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cart-modal.show,
.menu-modal.show {
  visibility: visible;
  opacity: 1;
}
/* Cart Modal */
.cart-modal {
  justify-content: end;
}
.cart-modal-content,
.categoriesMenuContent {
  background: white;
  padding: 15px;
  width: 40%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.cart-modal-content {
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.cart-modal.show .cart-modal-content,
.menu-modal.show .categoriesMenuContent {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

/* Badge Icon */
.badgeIcon {
  position: absolute;
  border-radius: 50%;
  top: 10px;
  left: 37%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #7db958;
}

/* Close Button */
.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #555;
  transition: color 0.3s ease;
}

.btn-close:hover {
  color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .categories-items li,
  .menus-items li {
    text-align: center;
  }
  .cart-modal-content {
    width: 50%;
  }
  .badgeIcon {
    top: 13px;
    left: 71%;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
  .categoriesMenuContent {
    width: 75%;
    padding: 15px;
  }
}

@media (max-width: 560px) {
  .categories-items li,
  .menus-items li {
    font-size: 0.9rem;
    text-align: center;
  }
  .cart-modal-content {
    width: 90%;
  }
  .badgeIcon {
    background-color: red !important;
  }
  .categoriesMenuContent {
    width: 85%;
    padding: 10px;
  }
}
